<!Doctype html>
{% load static %}
<html lang="es">
    <head>
        <title>My APP</title>
        <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" media="screen"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <section>
    <div class="center">
        <div class="format">
            <div class="centerElement">
            <img class="centerElement" width="500" src="{% static 'img/tortuga3.jpg' %}" alt="#TortugaForever">
            </div>

            <h1 class="centerElement">Ya somos más</h1>
            <h3 class="centerElement">Bienvenido {{ nombre }}</h3>
        </div>
    </div>
    </section>
    </body>
</html>